.custom-me {
  margin-right: 10px !important;
}

.custom-navbar {
  background: linear-gradient(90deg, #6EC1FF, #764ba2);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  min-height: unset !important;
}

.custom-navbar .nav-link {
  color: #ffffff;
}

.custom-navbar .navbar-brand {
  color: #ffffff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;   
  width: auto;
  display: block;
}