.custom-me {
  margin-right: 10px !important;
}

.custom-navbar {
  background: linear-gradient(90deg, #6EC1FF, #764ba2);
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #130125;
}