<!-- <p>films-vus works!</p> -->

<!-- @for (movie of movies$ | async; track movie.id) { 

<app-historique [movie]="movie"></app-historique>
} -->

@for (movie of movies$ | async; track movie.id) { 
  <div class="card shadow m-4" style="width: 15rem; min-height: 30rem">
    <img  [src]="'http://localhost:8080/movies/' + movie.id + '/image'" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <button type="button" class="btn btn-primary"
              (click)="selectMovie(movie)"
              data-bs-toggle="modal" data-bs-target="#popup">
        Mettre une note
      </button>
    </div>
  </div>
}

<div class="modal fade" id="popup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          Noter {{ selectedMovie?.title }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        ...
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>
